<div class="indexBody container  mt-2">
    <br />
    <h1 class="fw-bold mb-3 text-black text-center" style="margin-bottom: 50px">Products</h1>
    <div class="container" >
      <!-- Products -->
      <div class="row g-5 pt-3 d-flex" >
          <div class="col-3 d-flex justify-content-evenly card-style" *ngFor="let product of productsComponents">
              <div
              style="background-color:white"
                class="border p-2 bg-primary-subtle border-primary-subtle w-100 d-flex flex-column mh-75"
              >
                <img [src]="
                  product.image
                " alt="image" style="height:280px" />
            <div class="card-body">
              <h5 class="card-title">{{product.title.substring(0, 20)}}</h5>
              <p class="card-text">
              {{product.description.substring(0, 20)}}
              </p>
              <p class="fs-4 my-1 mb-2">₹ {{product.price}}</p>
            <button class="btn btn-primary" (click)="addToCart(product.id)">Add To Cart</button>
              
              </div>
          </div>
          </div>
      </div>
    </div>
  </div>

  <!-- Product -->