<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand nav-link" routerLink="/home" routerLinkActive="active"
      ><strong><i>Shopping</i></strong></a
    >

    <div class="d-flex justify-content-around align-item-center w-25">
      <a class="nav-link" routerLink="/cart">
        <i class="bi bi-cart-fill fs-4 position-relative pb-2"></i>
        <span class="badge bg-success position-absolute rounded-circle">{{
          cartLength() >0 ? cartLength():''
        }}</span>
      </a>
      <a class="nav-link" routerLink="/orders" routerLinkActive="active"
        ><i class="bi bi-bag-fill fs-4"></i
      ></a>
      <!-- <button
        class="btn btn-primary btn-sm h-25 mt-3"
        routerLink="/login"
        type="submit"
      >
        Log In
      </button> -->
      <button
        class="btn btn-danger btn-sm h-25 mt-3"
        routerLink="/login"
        (click)="logOut()"
        type="submit"
      >
        Log Out
      </button>
    </div>
  </div>
</nav>
